## Titanic Dataset

Pierce Renio <br> <br> Purpose is to test and hone my data science skills <br> Methods used are decision tree and Random Forest

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [12]:
df=pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

The data will now be cleaned. Removing variables that are not used in decision trees/random forest.

In [38]:
X = df.drop(columns=["PassengerId"])
X = X.drop(columns=["Name"])
X = X.drop(columns=["Ticket"])
X = X.drop(columns=["Cabin"])
X["Sex"] = X["Sex"].replace(['male','female'],[1,0])
df["Embarked"] = df["Embarked"].replace(['S','C','Q'],[1,2,3])

X = X.dropna()

y = X["Survived"].values
X = X.drop(columns=["Survived"])
trainX, testX, trainy, testy = train_test_split(X,y, test_size=0.2, random_state = 53)
X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    1  22.0      1      0   7.2500       1.0
1         1    0  38.0      1      0  71.2833       2.0
2         3    0  26.0      0      0   7.9250       1.0
3         1    0  35.0      1      0  53.1000       1.0
4         3    1  35.0      0      0   8.0500       1.0
..      ...  ...   ...    ...    ...      ...       ...
885       3    0  39.0      0      5  29.1250       3.0
886       2    1  27.0      0      0  13.0000       1.0
887       1    0  19.0      0      0  30.0000       1.0
889       1    1  26.0      0      0  30.0000       2.0
890       3    1  32.0      0      0   7.7500       3.0

[712 rows x 7 columns]

The model will now be created. It will first predict the training data.

In [70]:
modeldt = DecisionTreeClassifier(criterion = 'entropy', random_state=53)
modeldt.fit(trainX,trainy)

DecisionTreeClassifier(criterion='entropy', random_state=53)

In [71]:
yhattrain = modeldt.predict(trainX)

In [72]:
confusion_matrix(yhattrain, trainy)

array([[344,   6],
       [  0, 219]])

In [73]:
accuracy_score(yhattrain, trainy)

0.9894551845342706

The model will now predict the test set.

In [74]:
yhattest = modeldt.predict(testX)

In [75]:
confusion_matrix(yhattest, testy)

array([[65, 17],
       [15, 46]])

In [76]:
accuracy_score(yhattest, testy)

0.7762237762237763

77.62 percent correct.

# Random forest

In [77]:
modelrf = RandomForestClassifier(criterion = 'entropy', random_state = 53)
modelrf.fit(trainX, trainy)

RandomForestClassifier(criterion='entropy', random_state=53)

In [78]:
yhattrainrf = modelrf.predict(trainX)

In [79]:
confusion_matrix(yhattrainrf, trainy)

array([[343,   5],
       [  1, 220]])

In [80]:
accuracy_score(yhattrainrf, trainy)

0.9894551845342706

The model has the same accuracy on the training set as the decision tree model.<br>It will now predict the test set.

In [81]:
yhattestrf = modelrf.predict(testX)

In [82]:
confusion_matrix(yhattestrf, testy)

array([[68, 18],
       [12, 45]])

In [83]:
accuracy_score(yhattestrf, testy)

0.7902097902097902

79.02 percent correct.<br><br><br>
The random forest model correctly predicted 2 more passenger's survival than the decision tree model.<br>
The random forest model is slightly more effective at predicting surival rate than the decision tree model.